body{

    background-image: url("placa\ de\ aviso.png");
    background-repeat: no-repeat;
    background-position: 100vh;
    background-position: center;
    background-size: cover;
}
footer{
    margin-top: 85vh;
    text-align: center;
}